src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:servicenow="http://www.mulesoft.org/schema/mule/servicenow"
	xmlns:marketo="http://www.mulesoft.org/schema/mule/marketo"
	xmlns:kimble-api-spec="http://www.mulesoft.org/schema/mule/kimble-api-spec" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:workday="http://www.mulesoft.org/schema/mule/workday" xmlns:mule-sap-concur-connector="http://www.mulesoft.org/schema/mule/mule-sap-concur-connector" xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/servicenow http://www.mulesoft.org/schema/mule/servicenow/current/mule-servicenow.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9fbd5c6f-de87-4f0a-986d-e82387b8990d" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config> 
	<flow name="helloworldFlow" doc:id="a5989a6c-b7e3-4099-8d24-e57a396a20dd" >
		<http:listener doc:name="Listener" doc:id="db670b24-d191-451f-ab20-92f2e59634cf" config-ref="HTTP_Listener_config" path="/api"/>
		<logger level="INFO" doc:name="Logger" doc:id="d763e533-b395-44a5-84ae-ec1dfc3aef34" message="'I am here'"/>
		<set-payload value="#[%dw 2.0
output application/json
---
{'response':'hello World! from Kalidass!'}]" doc:name="Set Payload" doc:id="d419da09-a65d-4312-926a-3343655784ea" mimeType="application/json"/>
		<!-- <netsuite:search key="" doc:name="Search" doc:id="a1e8b7e0-8e26-458c-af76-6b18b45fabab" />
		<salesforce:create-job operation="" type="" doc:name="Create job" doc:id="de66a7e5-51cc-48e8-b81f-3a5ae2f92bcc" />
		<mule-sap-concur-connector:get-users doc:name="Get users" doc:id="1612e641-69dc-4824-87ee-38289c1de165" />
		<workday:time-tracking operation="" doc:name="Time tracking" doc:id="3fd2aee9-4f35-4b7a-b16e-92272bdc9061" />
		<kimble-api-spec:create-token doc:name="Create token" doc:id="9dd37d71-82ea-488e-a51a-816f09ead68e" />
		<marketo:describe-lead doc:name="Describe lead" doc:id="3599a31b-779a-415e-b0d2-21657f3df52b" />
		<servicenow:invoke service="" operation="" doc:name="Invoke" doc:id="d769ea67-4531-41d5-b4fe-e96e0b6dd7be" />
		<sap:retrieve-idoc key="" doc:name="Retrieve IDoc" doc:id="08c2758b-cb83-4e0f-b5dc-b476ea227782" /> -->
	</flow>
</mule>
